.btn-group{
	.same-width {
		width:256px;
	}
	.dropdown-menu.same-width{
		width:256px;
	}
}
.tag-editor {
	.tag-editor-spacer {
		padding: 0;
		width: 8px;
		overflow: hidden;
		color: transparent;
		background: none;
	}
}
