.btn-group{
	.same-width {
		width:256px;
	}
	.dropdown-menu.same-width{
		width:256px;
	}
}

//for tag filter disabled status
.tokenize.disabled * {
	cursor: not-allowed;
}
.tokenize.disabled{
	.tag-editor:after{
		cursor: not-allowed;
	}
} 

.tag-editor {
	.tag-editor-spacer {
		padding: 0;
		width: 8px;
		overflow: hidden;
		color: transparent;
		background: none;
	}
	padding-bottom: 4px;
	padding-top:1px;
	.TokenSearch{
		padding:2px 0;
	}
}

.tag-editor.disabled {
	cursor: not-allowed;
	.tag-editor-tag {
		color: grey;
	}
	.tag-editor-delete {
		cursor: not-allowed;
		.icon-cancel {
			&:hover {
				opacity: 0.4;
			}
		}
	}
	input {
		cursor: not-allowed;
	}
}

.upload-container {
    width: max-content;
    max-width:100%;
    display: inline-block;
}

.left {
    width: 81px;
    float: left;
}

.right {
   width: 100px;
   float: right;
}

.autowrap {
  overflow:hidden;   
  text-overflow:ellipsis;   
  white-space:nowrap; 
  max-width:100%
}

.center {
    overflow: auto;
	max-width:100%;
	float: none;
}

.modal-dialog {
	overflow: hidden;
}