.uwc .filter-dropdown .TokensContainer{ 
  height: 34px;
}
.uwc .filter-dropdown .dropdown-menu{
  overflow-y: auto;
  overflow-x: hidden;
}

.uwc .filter-dropdown .dropdown-menu > li{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uwc .filter-dropdown .TokensContainer .select-name{
  margin-top: 6px;
  padding-left: 8px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uwc .disabled ul{
  background-color: #ddd;
  opacity: 0.4;

}

.uwc .disabled:hover{
  cursor: not-allowed;
}