.uwc > div .filter-dropdown .TokensContainer{ 
  min-height: 37px;
}
.uwc > div .filter-dropdown .dropdown-menu{
  overflow: auto;
}

.uwc > div .filter-dropdown .TokensContainer .select-name{
  margin-top: 6px;
  // padding: 2px 0;
  padding-left: 8px; 
}